

body {
    font-size: 18px;
    line-height: 30.6px;
}

/* h1 {
    font-size: 60px;
    line-height: 72px
}
h2 {
    font-size: 30px;
    line-height: 36px
}
h3 {
    font-size: 28px;
    line-height: 33.6px
} */
h4 {
    font-size: 22px;
    line-height: 26.4px
}

/* h5 {
    font-size: 20px;
    line-height: 24px
}
h6{
    font-size: 16px;
    line-height: 19.2px
} */
blockquote {
    text-align: center;
    font-size: 22px; 
    line-height: 35.2px
}

.blockquote-intense {
    padding: 16px;
    font-weight: bold;
    border-top: 1px solid rgb(68, 114, 196);
    border-bottom: 1px solid rgb(68, 114, 196);
}

.indent {
    text-indent: 48px;
}

.block {
    margin-left: 48px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}