@import url('https://fonts.googleapis.com/css?family=Monda');

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  /* border: 4px solid cyan; */
  font-family: sans-serif;
}

hr {
    border: 2px solid #e2e2e2
}