@import url('https://fonts.googleapis.com/css?family=Monda');

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
}

hr {
    border: 2px solid #e2e2e2
}

@keyframes caroselEnter{
  /* 0%  {
      transform: translateY(0px) scale(1);
      }
  40% {
      transform: translateY(calc(50vh - 140px))scale(0.5) ;
      }
  55% {
      transform: translateY(calc(50vh - 140px))scale(0.5) ;
      }
  100%{
      transform: translateY(calc(100vh - 70px)) scale(0.5);
      } */
}

/* @keyframes caroselExit{
  0%  {
      transform-origin: 0px 0px;
      transform: translate(-50%, -50%);
      transform: scale(1);
      }
  100%{
      transform-origin: 0px 0px;
      transform: translate(-50%, -50%);
      transform: scale(0.8);
      }
} */

/* //: SlideScale */
@keyframes slideScaleOut {
  0%  {
      transform: scale(1);
      }
  30% {
      transform: scale(0.8) translateX(0px) ;
      }
  70% {
      transform: scale(0.8) translateX(calc(calc(50vw + 130px) * -1.5 )) ;
      }
  100%{
      transform: scale(0.8) translateX(calc(calc(50vw + 130px) * -1.5 )) ;
      }
  }
@keyframes slideScaleIn {
  0%  {
      transform: scale(0.8) translateX(calc(calc(50vw + 130px) * 1.5 )) ;
      }
  30% {
      transform: scale(0.8) translateX(calc(calc(50vw + 130px) * 1.5 )) ;
      }
  70% {
      transform: scale(0.8) translateX(0px) ;
      }
  100%{
      transform: scale(1);
      }
  }

/* //: Cliffhanger */
/* @keyframes cliffhanger {
0%  {
      transform-origin: calc(50vw - 130px) calc(-50vw + 35px);
      transform: rotateZ(0);
    }
30% {
      transform-origin: calc(50vw - 130px) calc(-50vw + 35px);
      transform: rotateZ(-3deg) translateX(0px) translateY(0px);
    }
100%{
      transform-origin: calc(50vw - 130px)  calc(-50vw + 35px);
      transform: rotateZ(-15deg) translateX(-200px) translateY(500px);
    }
} */

/* //: Card Flip */
/* @keyframes card-flip-backward {
  0%  {
      opacity: 1;
      transform: perspective(1500px) scale(1) rotateX(0);
      }
  49% {
      opacity: 1;
      transform: perspective(1500px) scale(0.6) rotateX(90deg);
      }
  50% {
      opacity: 0;
      transform: perspective(1500px) scale(0.6) rotateX(91deg);
      }
  100%{
      opacity: 0;
      transform: perspective(1500px) scale(1) rotateX(180deg);
      }
}
@keyframes card-flip-forward {
  0%  {
      opacity: 0;
      transform: perspective(1500px) scale(1) rotateX(-180deg);
      }
  49% {
      opacity: 0;
      transform: perspective(1500px) scale(0.6) rotateX(-90deg);
      }
  50% {
      opacity: 1;
      transform: perspective(1500px) scale(0.6) rotateX(-91deg);
      }
  100%{
      opacity: 1;
      transform: perspective(1500px) scale(1) rotateX(0deg);
      }
} */

/* //: App Carousel */
/* @keyframes flipScaleDown {
  0% {
    opacity: 1;
    transform: scale(1.0) translateX(calc(calc(50vw + 130px) * 0.00 )) perspective(1500px) rotateY(0deg);
  }
  25% {
    opacity: 1;
    transform: scale(0.4) translateX(calc(calc(50vw + 130px) * 0.00 )) perspective(1500px) rotateY(0deg);
  }
  50% {
    opacity: 1;
    transform: scale(0.4) translateX(calc(calc(50vw + 130px) * -0.7 ))perspective(1500px) rotateZ(0deg);
  }
  75%{
    opacity: 0;
    transform: scale(0.35) translateX(calc(calc(50vw + 130px) * -1.25 ) )perspective(1500px) rotateY(-30deg) rotateZ(0deg);
  }
  100%{
    opacity: 0;
  }
} */

/* @keyframes flipScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.4) translateX(calc(calc(50vw + 130px) * 0.7))rotateY(0deg);
  }
  25% {
    opacity: 0;
    transform: scale(0.35) translateX(calc(calc(50vw + 130px) * 0.7 )) rotateY(30deg);
  }
  50% {
    opacity: 1;
    transform: scale(0.4) translateX(calc(calc(50vw + 130px) * 0.7)) rotateY(0deg);
  }
  75%{
    opacity: 1;
    transform: scale(0.4) translateX(calc(calc(50vw + 130px) * 0.00)) rotateY(-15deg);
  }
  100%{
    opacity: 1;
    transform: scale(1.0) translateX(calc(calc(50vw + 130px) * 0.00 )) perspective(1500px) rotateY(0deg);
  }
} */

/* //: Double Flip */
/* @keyframes flipScaleDown {
  0% {
    opacity: 1;
    transform: perspective(4500px) scale(1) rotateX(0);
  }
  30% {
    opacity: 1;
    transform: perspective(4500px) scale(0.8) rotateX(0) rotateY(0) rotateZ(0);
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: perspective(4500px) scale(0.8) rotateX(90deg) rotate(45deg) rotateZ(45deg);
  }
  70% {
    opacity: 0;
    transform: perspective(4500px) scale(0.8) rotateX(90deg) rotateY(45deg) rotateZ(45deg);
  }
  100% {
    opacity: 0;
    transform: perspective(4500px) scale(1) rotateX(180deg) rotateY(45deg) rotateZ(45deg);
  }
} */

/* @keyframes flipScaleDown {
  0% {
    transform: scale(1) perspective(1500px);
  }
  50% {
    transform: scale(0.5) translateX(calc(calc(50vw + 130px) * 1 )) rotateY(15deg);
  }
  100% {
    transform: scale(0.5) translateX(calc(calc(50vw + 130px) * 2 )) rotateY(0deg);
  }
} */


.carousel-enter > div {
  z-index: 1;
  box-shadow: 0px 3px 7px 1px rgba(204, 197, 185, 1);
}
.carousel-enter-active > div {
  z-index: 1;
  box-shadow: 0px 3px 7px 1px rgba(204, 197, 185, 0);
  transition: box-shadow 0.5s ease-in 1s;
}
.carousel-enter-active {
  animation: slideScaleIn 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
.carousel-exit > div {
  z-index: -1;
  box-shadow: 0px 3px 7px 1px rgba(204, 197, 185, 0);
}
.carousel-exit-active > div  {
  z-index: -1;
  box-shadow: 0px 3px 7px 1px rgba(204, 197, 185, 1);
  transition: box-shadow 0.5s ease-in 0s;
}
.carousel-exit-active {
  animation: slideScaleOut 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}