.title {
    /**/
}

.subtitle {
    /* font-style: italic; */
    color: rgb(64, 64, 64);
}

.blockquote {
        color: red;
}

.blockquote-intense {
    font-weight: bold;
    font-style: italic;
}

.indent {
    text-indent: 48px;
}

.block {
    margin-left: 48px;
}