/* h1 {
        font-size: 40px;
}

h2 {
        font-size: 30px;
}

h4 {
        font-size: 20px;
} */


.blockquote {
        color: red;
        font-family: 'Hoefler Text', Georgia, serif;
        font-style: italic;
        text-align: center;
}

.blockquote-intense {
        color: blue;
        font-family: 'Hoefler Text', Georgia, serif;
        font-style: italic;
        text-align: center;
}