.blockquote {
    text-align: center;
    color: red;
}

.blockquote-intense {
    padding: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border-top: 1px solid rgb(68, 114, 196);
    border-bottom: 1px solid rgb(68, 114, 196);
}

.indent {
    text-indent: 48px;
}

.block {
    margin-left: 48px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}