body div {
  /* filter: blur(1px); */
  /* filter: brightness(.8); */
}

.frame {
  background: transparent;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  z-index: 9999 !important;
  border: 0px;
  transition: all 0s ease-in-out 0s;
  filter: blur(0px) !important;
}

.frame * {
  /* filter: blur(0px) !important; */
}

.frame-icon {
  /* border: 1px solid green; */
  width: 100vw;
  height: 100vh;
  background: rgba(0, 7, 20, 0.5);
}

.frame-bar {
  border: 2px solid red;
  width: 0px;
  height: 0px;
}

.frame-bar-open {
  border: 2px solid red;
  width: 450px;
  height: 0px;
}

.frame-search {
  background: grey;
  border: 2px solid magenta;
  width: 600px;
  height: 100vh;
}

.frame-modal {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid blue;
  width: 100vw;
  height: 100vh;
}

.app-close {
  border: none;
  margin: 0px;
  max-height: none;
  max-width: none;
  min-height: 0px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  position: fixed;
  transition: initial;
  z-index: 2147483647;
  width: 80px;
  height: 80px;
  bottom: auto;
  left: auto;
  transition: all 0.2s ease-in-out 0.2s;
  border: 1px solid yellow;
}

.app-open {
  width: 440px;
  /* width: 100%; */
  /* App width + 40px */
  height: 640px;
  /* height: 100%; */
  /* App height + 40px */
  transition: all 0.2s ease-in-out -0.2s;
}

/* Top Left */

.app-gamma {
  top: 0px;
  right: auto;
  bottom: auto;
  left: 0px;
}

/* Top Right */

.app-delta {
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
}

/* Bottom Right */

.app-beta {
  top: auto;
  right: 0px;
  bottom: 0px;
  left: auto;
}

/* Bottom Left */

.app-alpha {
  top: auto;
  right: auto;
  bottom: 0px;
  left: 0px;
}

#controls {
  display: block;
  position: fixed;
  right: 400px;
  top: 0px;
  z-index: 9999;
}